.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & .socials {
    gap: 32px;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 55px;
  list-style-type: none;
  gap: 30px;
}

.header__contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
  margin-left: auto;
  gap: 52px;
}

.header__link {
  font-weight: 500 !important;
}

@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .header {
    height: 55px;
  }
  .nav {
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    text-transform: uppercase;
    gap: 17px;
  }
  .logo-container,
  .header__contacts {
    display: none;
  }
}
