.socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
  &--header {
    gap: 32px;
  }
}

.socials__item {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  transition: fill 0.2s ease-in;
  transition-property: all;

  & svg:hover path,
  polygon,
  circle {
    fill: rgb(249, 137, 0);
  }
}
